<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog</title>
	<link rel="stylesheet" href="inicio.component.scss">
</head>
<body>

	<header>
		<br>
	</header>

	<div class="encabezado-img">

	</div>
  <div class="titulo">
		<p>GOBIERNO AUTONOMO MUNICIPAL DE</p>
		<h1>PATACAMAYA</h1>
		<p>Trabajamos por nuestra gente</p>
  </div>

</body>
<div class="card-container">
  <div class="card">
    <img src="assets/demo/images/patacamaya/ima4.jpg" alt="Descripción de la imagen">
    <h2>Reparaciones Escolares</h2>
    <p>Se realizaron reparaciones en distintos colegios en Patacamaya.</p>
    <button>Mas</button>
  </div>
  <div class="card">
    <img src="assets/demo/images/patacamaya/ima1.jpg" alt="Descripción de la imagen">
    <h2>Temporada frente frio</h2>
    <p>En Patacamaya se está ingresando a la temporada de frío.</p>
    <button>Mas</button>  </div>
  <div class="card">
    <img src="assets/demo/images/patacamaya/ima2.jpg" alt="Descripción de la imagen">
    <h2>Feria Anual Candelaria</h2>
    <p>Venta de ganado por la feria anual de Candelaria</p>
    <button>Mas</button>  </div>
  <div class="card">
    <img src="assets/demo/images/patacamaya/ima5.jpg" alt="Descripción de la imagen">
    <h2>Campeonato Ciudad intermedia</h2>
    <p>Inscripciones abiertas para participar del campeonato sede Patacamaya</p>
    <button>Mas</button>  </div>
  <div class="card">
    <img src="assets/demo/images/patacamaya/ima8.jpg" alt="Descripción de la imagen">
    <h2>Presentacion de propuesta</h2>
    <p>Presentacion de propuesta de la nueva alcaldia de Patacamaya </p>
    <button>Mas</button>  </div>
  <div class="card">
    <img src="assets/demo/images/patacamaya/ima7.jpg" alt="Descripción de la imagen">
    <h2>Reunion General</h2>
    <p>Reunion general para el cambio de nuevas autoridades de la comunidad</p>
    <button>Mas</button>  </div>
</div>
<br>
<video controls>
  <source src="videos/mi-video.mp4" type="video/mp4">
  <source src="videos/mi-video.webm" type="video/webm">
  <source src="videos/mi-video.ogg" type="video/ogg">
</video>
<br>
<br>
<div class="mision">
  <h2>Misión</h2>
  <p>Somos una institución comprometida en brindar servicios de calidad, planificar y ejecutar proyectos y programas para el bienestar y desarrollo de la población del Municipio de Patacamaya, promoviendo la participación ciudadana y el cuidado del medio ambiente.</p>
</div>
<div class="vision">
  <h2>Visión</h2>
  <p>Ser una institución moderna y eficiente, referente en la gestión pública a nivel nacional, con un gobierno transparente y participativo, que garantice el desarrollo sostenible y la calidad de vida de la población del Municipio de Patacamaya.
  </p>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Información de contacto</h3>
        <p>Teléfono: 2- 2863521</p>
        <p>Email: gampAroma@gmail.com</p>
        <p>Dirección: Calle paizandu, plaza central 15 de Agosto, Bolivia</p>
      </div>
      <div class="col-md-6">
        <h3>Redes sociales</h3>
        <ul>
          <li><a href="https://www.facebook.com/CiudadIntermedia/" target="_blank">Facebook</a></li>
          <li><a href="https://www.facebook.com/CiudadIntermedia/" target="_blank">Twitter</a></li>
          <li><a href="https://www.facebook.com/CiudadIntermedia/" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>&copy; 2023 GAM-PATACAMAYA - Todos los derechos reservados.</p>
  </div>
</footer>

</html>

